<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bathala Vishnu Portfolio</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/unicons.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="/static/css/tooplate-style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#"><i class='uil uil-user'></i> Vishnu</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

<!-- ABOUT -->
<section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
        <div class="about-text">
          <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small>
          <h1 class="animated animated-text">
            <span class="mr-2">Hey folks, I'm</span>
            <div class="animated-info">
              <span class="animated-item">Vishnu</span>
              <span class="animated-item">full-stack</span>
              <span class="animated-item">UI Specialist</span>
            </div>
          </h1>

          <p>Building a successful product is a challenge. I am highly energetic in user experience design, interfaces and web development.</p>
          
          <div class="custom-btn-group mt-4 d-flex align-items-center flex-wrap">
            <a href="/static/resume/Resume.docx" class="btn mr-lg-2 custom-btn" download>
              <i class='uil uil-file-alt'></i> Download Resume
            </a>
            <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Get a free quote</a>

            <!-- Social Icons -->
        <div style="display: flex; align-items: center; gap: 10mm; margin-top: 20px;">
          <a href="https://www.linkedin.com/in/bathala-vishnu-268a2a275/" target="_blank" title="LinkedIn" style="font-size: 28px; color: #0077B5;"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/BV-2002?tab=repositories" target="_blank" title="GitHub" style="font-size: 28px; color: black;"><i class="fab fa-github"></i></a>
          <a href="https://www.freelancer.in/u/vishnub2002" target="_blank" title="Freelancer" style="font-size: 28px; color: #29b2fe;"><i class="fas fa-briefcase"></i></a>
          <a href="https://leetcode.com/u/Bvishnu/" target="_blank" title="LeetCode" style="font-size: 28px; color: #FFA116;"><i class="fas fa-code"></i></a>
          <a href="https://www.hackerrank.com/profile/vishnuofficialit" target="_blank" title="HackerRank" style="font-size: 28px; color: #2EC866;"><i class="fab fa-hackerrank"></i></a>
          <a href="https://www.naukri.com/mnjuser/profile" target="_blank" title="Naukri">
            <img src="https://static.naukimg.com/s/4/100/i/naukri_Logo.png" alt="Naukri" style="height: 28px; width: auto; vertical-align: middle;">
          </a>
        </div>

          </div>

        </div>
      </div>

      <div class="col-lg-5 col-md-12 col-12">
        <div class="about-image svg">
          <img src="/static/images/undraw/vishnu_image.jpg" class="img-fluid" alt="svg image">
        </div>
      </div>

    </div>
  </div>
</section>


    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>Projects I have Delivered for digital media agencies</h2>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <img src="/static/images/project/cdbms-1.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/static/images/project/cdbms-2.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/static/images/project/cdbms-3.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/static/images/project/kodeconnect-1.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/static/images/project/kodeconnect-2.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/static/images/project/kodeconnect-3.png" class="img-fluid" alt="project image">
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
        </div>
    </section>

    <!-- FEATURES -->
    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
      <div class="container">
          <div class="row">

              <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Experiences</h2>

                  <div class="timeline">
                      <div class="timeline-wrapper">
                          <div class="timeline-yr">
                              <span>2025</span>
                          </div>
                          <div class="timeline-info">
                              <h3><span>Python Django Developer</span><small>Young Minds Technology Solutions Pvt Ltd</small></h3>
                              <p>Working on real-time web applications using Django, DRF, Channels, and MYSQL. Involved in building scalable backends and REST APIs, and handling end-to-end development with real-time features and OTP-based login flows.</p>
                          </div>
                      </div>

                      <div class="timeline-wrapper">
                          <div class="timeline-yr">
                              <span>2024</span>
                          </div>
                          <div class="timeline-info">
                              <h3><span>Workshop Trainer</span><small>Siddhartha Engineering College</small></h3>
                              <p>Conducted a 16-day hands-on Python workshop for engineering students, teaching Python basics to advanced concepts, Django web development, and REST API development with real-time demos.</p>
                          </div>
                      </div>

                      <div class="timeline-wrapper">
                          <div class="timeline-yr">
                              <span>2024</span>
                          </div>
                          <div class="timeline-info">
                              <h3><span>Freelance Web Developer</h3>
                              <p>Built full-stack Django web applications for local clients, implementing custom admin panels, authentication systems, and performance reports. Specialized in scalable architecture and third-party API integrations.</p>
                          </div>
                      </div>

                      <div class="timeline-wrapper">
                          <div class="timeline-yr">
                              <span>2023</span>
                          </div>
                          <div class="timeline-info">
                              <h3><span>Python Intern</span><small>Personal Projects</small></h3>
                              <p>Started with building CLI(Command-Line Interface application) apps and mini projects in Python, gradually transitioning into full Django-based solutions with MYSQL, integrating REST APIs and authentication functionalities.</p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Educations</h2>

                  <div class="timeline">
                      <div class="timeline-wrapper">
                          <div class="timeline-yr">
                              <span>2023</span>
                          </div>
                          <div class="timeline-info">
                              <h3><span>B.Sc Computer Science</span><small>SVA Govt Degree College, Srikalahasti</small></h3>
                              <p>Graduated with strong academic performance and active involvement in coding and real-time project development alongside my degree.</p>
                          </div>
                      </div>

                      <div class="timeline-wrapper">
                          <div class="timeline-yr">
                              <span>2020</span>
                          </div>
                          <div class="timeline-info">
                              <h3><span>Intermediate (MPC)</span><small>Board of Intermediate Education, AP</small></h3>
                              <p>Focused on foundational concepts in mathematics, physics, and computer science which led to my interest in programming and web technologies.</p>
                          </div>
                      </div>

                      <div class="timeline-wrapper">
                          <div class="timeline-yr">
                              <span>2018</span>
                          </div>
                          <div class="timeline-info">
                              <h3><span>SSC</span><small>State Board of Secondary Education, AP</small></h3>
                              <p>Completed SSC with distinction, laying the groundwork for analytical thinking and technical understanding.</p>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
    </section>

    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
      <div class="container">
        <div class="row">

          <!-- LEFT SIDE: Map and Info -->
          <div class="col-lg-5 mr-lg-5 col-12">
            <div class="google-map w-100 mb-4">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.2461983848924!2d77.69703727465327!3d13.00336948731543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1133e2cc0f39%3A0x1e7a10c01388bfbf!2sKrishnarajapuram%2C%20Bengaluru%2C%20Karnataka%20560036!5e0!3m2!1sen!2sin!4v1716100051423" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5 bg-dark text-white rounded">
              <div class="contact-info-item">
                <h3 class="mb-3">Say hello</h3>
                <p class="mb-1">📞 +91 63021 59788</p>
                <p class="mb-1">
                  📧 <a class="text-white" href="mailto:vishnuofficialit@gmail.com?subject=Hello Vishnu&body=Hi Vishnu, I would like to connect with you.">
                    vishnuofficialit@gmail.com
                  </a>
                </p>
                <p>📍 KR Puram, Bangalore, India</p>
              </div>

              <ul class="social-links list-unstyled">
                <li><a href="https://www.instagram.com/bathala.333/" class="uil uil-instagram text-white" title="Instagram"></a></li>
              </ul>
            </div>
          </div>

          <!-- RIGHT SIDE: Form -->
          <div class="col-lg-6 col-12">
            <div class="contact-form">
              <h2 class="mb-4">Interested to work together? Let’s talk</h2>

              <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-6 col-12 mb-3">
                    <input type="text" class="form-control" name="name" placeholder="Your Name" required>
                  </div>

                  <div class="col-lg-6 col-12 mb-3">
                    <input type="text" class="form-control" name="mobile" placeholder="Mobile" required>
                  </div>

                  <div class="col-lg-6 col-12 mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                  </div>

                  <div class="col-lg-6 col-12 mb-3">
                    <input type="text" class="form-control" name="address" placeholder="Address" required>
                  </div>

                  <div class="col-12 mb-3">
                    <textarea name="message" rows="6" class="form-control" placeholder="Your Message..." required></textarea>
                  </div>

                  <div class="ml-lg-auto col-lg-5 col-12">
                    <button type="submit" class="btn btn-primary btn-block">Send Message</button>
                  </div>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </section>




    <style>
      .custom-toast {
        position: fixed;
        top: 80px;
        right: 20px;
        z-index: 9999;
        min-width: 300px;
        animation: slideIn 0.5s ease-in-out;
        opacity: 0.95;
      }
    
      @keyframes slideIn {
        from {
          transform: translateX(100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 0.95;
        }
      }
    </style>
    
    {% if messages %}
      <div id="toast-container">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} custom-toast alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    <script>
      // Auto remove messages after 4 seconds
      setTimeout(() => {
        const toasts = document.querySelectorAll('.custom-toast');
        toasts.forEach(toast => {
          toast.classList.remove('show');
          toast.classList.add('hide');
          setTimeout(() => toast.remove(), 900); // smooth removal
        });
      }, 4000);
    </script>
    
  
  



    <!-- FOOTER -->
     <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright &copy; All rights reserved</p>
                    </div>
                    
               </div>
          </div>
     </footer>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/Headroom.js"></script>
    <script src="/static/js/jQuery.headroom.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/smoothscroll.js"></script>
    <script src="/static/js/custom.js"></script>

  </body>
</html>